input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}


body {
    background-color: #4A4EA8 !important;
}

.card {
    background: #E3E3E3;
}

.centrar {
    background: #E3E3E3;
}

.card-body {
    background: #E3E3E3;
    margin:50px auto;
    max-width: 500px;
}

.col-4 {
    width: 100% !important;
}


